@font-face {
    font-family: 'Koverwatch';
    src: url('./Koverwatch.woff2') format('woff2'),
        url('./Koverwatch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Koverwatch', sans-serif;
}

h1 {
    font-size: 3em;
    color: white;
}

main {
    font-size: 1.5em;
    background-image: url(../images/OW-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: #00a0ea;
    color: white;
    border: none;
    padding: none;
}

button:hover {
    background-color: #00a5e2;
}

.wrong-guess {
    background-color: #FF1938;
    color: white;
}

.wrong-guess:hover {
    background-color: #FF1938;
}

.correct-guess {
    background-color: #ff9c00;
    color: white;
}

.correct-guess:hover {
    background-color: #ff9c00;
}

.none-guess {
    background-color: #002F40;
    color: white;
}

.none-guess:hover {
    background-color: #002F40;
}

.hidden-button {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    cursor: default;
}

.hidden-button:hover {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    cursor: default;
}